games
eshell
auto-save-list
bookmarks
ac-comphist.dat
url
.emacs.d/elpa/archives
.emacs.d/elpa/w3*
*.el~
*.elc
/[^.]*
src
src/*
.virtualenvs/*
.mitmproxy/
.envies/
.gitconfig
.gnus
.gnus~
.grip/
.ipython/
.lesshst
.local/
.mitmproxy/
.mysql_history
.newsrc-dribble
.newsrc-dribble~
.oracle_jre_usage/
.pre-commit/
.profile
.profile~
.pypirc
.python_history
.rbenv/
.rediscli_history
.spacemacs
.sqlite_history
.ssh/
.subversion/
.tox/
.viminfo
.virtualenvs/
.yy/
.zsh_history


.DS_Store
.authinfo
.authinfo~
.bash_profile
.bash_profile~
.bashrc
.bashrc~
.dropbox_code
.emacs.bak
.emacs.d.bak/
.emacs.d.spacemacs/
.CFUserTextEncoding
.Trash/
.bash_history
.cache/
.config/
.cups/
.dropbox/


".zcompdump-Shaun\342\200\231s MacBook Air-5.0.5"